body {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: sans-serif;
}
header img {
    height: 100px;
    width: 200px;
}
.login_box {
    padding-top: 11%;
}
nav ul {
    list-style-type: none;
}
main {
    border: ridge;
    text-align: left;
    padding: 100px;
}
main .label_box {
    clear: left;
    width: 350px;
    text-align: right;
}
main .validator_box {
    display: inline-block;
    float:left;
    width: 400px;
    text-align: center;
}
.search {
    text-align: right;
}
footer {
    
    position: fixed;
    bottom: 0;
    left:auto;
    right: auto;
}