header img {
    height: 100px;
    width: 200px;
}
body {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: sans-serif;
}
.login_box, .login_box a {
    text-align: right;
    text-decoration: none;
}
nav ul {
    
    list-style-type: none;
}
.search {
    text-align: right;
}
footer {
    position: fixed;
    bottom: 0;
    
}